@model TravelTripProje.Models.Siniflar.Blog
@{
    ViewBag.Title = "BlogGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("BlogGuncelleme", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" ,@readonly ="readonly"})
    <br />
    @Html.LabelFor(x => x.Başlık)
    @Html.TextBoxFor(x => x.Başlık, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Açıklama)
    @Html.TextAreaFor(x => x.Açıklama, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Blog Güncelle</button>
}

